table {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 1px solid red;
}
tbody{
    tr:nth-child(even){
        background-color: pink;
    }
}